@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#c0dbf2;

}

/* Modal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .display-block {
    display: flex;
  }
  
  .modal-main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  